/* typography justify */

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: white;
    margin: 0px 0px 8px 0px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: white;
    margin: 0px 0px 4px 0px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: white;
    margin: 0px 0px 8px 0px;
}

h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    margin: 0px 0px 12px 0px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    margin: 0;
}

span {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: white;
    margin: 0;
}

/* COMPONENTS */

.btn-1{
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    margin-top: 24px;
    background-color: #333;
    display: inline;
}

.btn-1:hover {
    background-color: #fff;
}

.btn-1:hover span {
    color: #222;
}

.btn-2{
    width: 64px; height: 64px; border-radius: 999px;
    background-color: #4E61C0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0px 12px;
    border: none;
    transition-duration: 0.5s;
}

.btn-2 i {
    color:  white;
    font-size: 32px;
}

.btn-2:hover {
    background-color: #fff;
}

.btn-2:hover i {
    color: #222;
}

/* Hero */

.hero-bg {
    width: 100%;
    height: 440px;
    background: linear-gradient(180deg, #4997DC 0%, #4558BD 100%);

    /* position: absolute;
    left: 0px;
    top: 0px; */
}

.hero {
    max-width: 1024px; height: 100%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.hero-text{
    width: 440px; height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btn-group{
    display: flex;
    justify-content:flex-start;
}

.img-box{
    width: 300px; height: 100%;
    display: flex;
}

.iphone{
    width: 100%;
    margin-top: auto;
}

/* SLogun */

.slogun{
    max-width: 1024px;
    margin: auto;
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.slogun .btn-group{
    display: flex;
    justify-content: center;
}

.slogun h4{
    color: #222;
    text-align: center;
}

.slogun p{
    color: #222;
    text-align: center;
}

/* services */

.services-bg{
    width: 100%;
    background-color: #4E61C0

}

.services-container {
    max-width: 1024px;
    margin: auto;
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-container >h6 {text-align: center; margin-bottom: 0px;
    text-transform: uppercase;
}

.services-container >h5 {text-align: center; margin-bottom: 32px;
}

.services-box {
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    justify-content: center;
}

.icon-cmp{
    max-width: 216px; 
    margin: 0px 12px;
}

.icon-cmp:hover .iconbox{
    outline: solid 10px white;
}

.iconbox-container{
    display: flex;
    justify-content: center;
}

.iconbox{
    width: 80px; height: 80px; border-radius: 999px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    outline: solid 0px  white;
    transition: 0.8s;
}

.iconbox i {
    color: #4E61C0;
    font-size: 40px;
}

.icon-cmp h5{
    text-align: center;
}

.icon-cmp p{
    text-align: center;
}


/* PPO Area */

.ppo-container{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto;
}

.ppo-container >h6 {
    text-align: center; 
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #222;
}

.ppo-container >h5 {
    text-align: center; 
    margin-bottom: 32px;
    color: #222;
}

.ppo-flexbox{ 
    width: 100%; max-height: 341px;
    display: flex;
}

/* PPO CARD COMPONENT */

.ppo-card{
    width: 50%; height: 100%;
    position: relative;
}

.ppo-card img{
    width: 100%; display: block;
}

.ppo-ani{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: solid 0px #fff;
    transition-duration: 0.5s;
}

.ppo-ani h4 {text-align: center;}

.ppo-ani p {text-align: center;}

.ppo-ani:hover {
    border: solid 20px #fff;
}

/* bottom area*/

.btm-container{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    padding: 48px 0px ;
}

.copyright{
    color: #bbb;
    margin: 0px auto 80px auto;
    max-width: 1024px;
    text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .hero-bg {
        height: 523px;
    }
    
    .hero {
        /* max-width: 1024px; height: 100%;
        margin: auto; */
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero-text{
        width: 100%;
        padding: 48px 24px;
        margin: auto;
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    
    }


    .btn-group{
        display: flex;
        justify-content: center;
    }

    .hero-text h3{
        text-align: center;
        font-size: 32px;
    }
    
    .hero-text p{
        text-align: center;
    }

    .img-box{
        width: 200px;
        display: flex;
    }
    
    .iphone{
        width: 100%;
        margin-top: auto;
    }

    .slogun{
        max-width: 1024px;
        margin: auto;
        padding: 48px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services { 
        flex-direction: column;
    }

    .icon-cmp{
        max-width: 216px; 
        margin: 24px 12px;
    }

    .services-container >h5 {text-align: center; margin-bottom: 8px;
    }

    .ppo-card{
        width: 100%; height: 100%;
        position: relative;
    }

    .ppo-flexbox{ 
        flex-direction: column;
        max-height: 100%;
    }

    .ppo-ani{
        width: 100%; height: 100%;
    }

}

