body {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

.area {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.sidebar{
  width: 280px;
  height: 100vh;
  background-color: #222;
  position:fixed;
  z-index: 3;
  padding: 24px;
  left: -140px;

  display: flex;
  flex-direction: column;
}

.sidebar:hover{
  animation-duration: 2s;
  transform: translate(+140px);
  transition: 0.4s;
}

.sidebar .header{
  font-size: 40px;
  font-weight: 100;
  color: white;
  transform: translateX(+140px);
  transform-origin: center center;
}

.sidebar:hover .header{
  transform: translateX(+70px);
  transition: 1s;
}

.sidebar .item{
  font-size: 20px;
  font-weight: 300;
  color: white;
  transform-origin: center center;
}

.sidebar:hover .item{
  animation-name: tmrtmr;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes tmrtmr{
  0% {transform: translateX(0px);}
  50% {transform: translateX(+180px) skewX(-45deg);}
  100% {transform: translateX(+100px);}

}


.gridborn {
  max-width: 1224px;
  margin: auto;
  background-color: #fff;
  padding: 48px 0px;
}

.list {
  width: 240px;
  background-color: #eee;
  margin: auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

li {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 12px 16px 12px;
  text-decoration: none;
}

.active {
  background-color: skyblue;
  color: #fff;
}

.alert-success {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 56px;
  width: calc(100% - 48px);
  padding: 0px 16px;
  border-radius: 8px;
  margin: 24px auto;
  background: #DCEDC8;
  border: 2px solid #8BC34A;
}
.alert-success p {
  margin: 0px;
  color: #8BC34A;
}
.alert-success .alert-front {
  font-weight: 900;
}

.alert-info {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 56px;
  width: calc(100% - 48px);
  padding: 0px 16px;
  border-radius: 8px;
  margin: 24px auto;
  background: #B3E5FC;
  border: 2px solid #03A9F4;
}
.alert-info p {
  margin: 0px;
  color: #03A9F4;
}
.alert-info .alert-front {
  font-weight: 900;
}

.alert-warning {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 56px;
  width: calc(100% - 48px);
  padding: 0px 16px;
  border-radius: 8px;
  margin: 24px auto;
  background: #FFECB3;
  border: 2px solid #FFC107;
}
.alert-warning p {
  margin: 0px;
  color: #FFC107;
}
.alert-warning .alert-front {
  font-weight: 900;
}

.row {
  padding: 0px 12px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: #673AB7;
}
.row div {
  font-size: 24px;
}

@media (min-width: 990px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-1 {
    width: 8.33333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
}
.btn-purple, .btn-blue, .btn-green {
  width: 200px;
  height: 180px;
  padding: 20px;
  color: white;
}

.btn-green {
  background: green;
}

.btn-blue {
  background: blue;
}

.btn-purple {
  background: purple;
}

.skew-btn {
  border: none;
  background: skyblue;
  color: white;
  padding: 16px 24px;
  font-size: 15px;
  margin: 40px auto;
  border-radius: 8px;
  display: block;
}

.skew-btn:hover {
  animation-name: qwerqwer;
  animation-duration : 1s;
}

@keyframes qwerqwer {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(100px);
  }
}

.skskchwap{
  border: none;
  background: orange;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  margin: 40px auto;
  border-radius: 6px 10px 16px 26px;
  display: block;
}

.skskchwap:hover {
  animation-name: skskchwap;
  animation-duration : 1.4s;
}

@keyframes 움찔움찔{
  0% {
    transform : translateX(0px); /* 애니메이션이 0%만큼 동작시 */
  }
  50% {
    transform : translateX(-20px); /* 애니메이션이 50%만큼 동작시 */
  }
  100% {
    transform : translateX(20px); /* 애니메이션이 100%만큼 동작시 */
  }
}

@keyframes skskchwap{
  0% {transform :rotate(0deg) scale(100%) }
  20% {transform :rotate(-10deg) scale(100%) }
  60% {transform :rotate(45deg) scale(120%) }
  80% {transform :rotate(-10deg) scale(100%) }
  100% {transform :rotate(0deg) scale(100%) }
}

.ani-button {
  padding: 15px 20px;
  font-size: 20px;
  background: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
}

.ani-button:hover {
  animation-name: shake;
  animation-duration: 1s;
  transform-origin: top right;
}

@keyframes shake {
  0% { transform: rotate(0deg)}
  25% { transform: rotate(-8deg)}
  50% { transform: rotate(8deg)}
  75% { transform: rotate(-8deg)}
  100% { transform: rotate(0deg)}
} 

.momma .child1, .momma p {
  color: #8BC34A;
}
.momma .child3 {
  color: #673AB7;
}/*# sourceMappingURL=test-1.css.map */